* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.acc_title {
    background-color: aqua;
    color: wheat;
    padding: 10px;
}
.acc_desc {
    padding: 10px;
    border: 1px solid green;
}
